@if (IsLoading)
{
    <div class="row">
        <div class="mt-5 col-centered">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
}
else
{
    @ChildContent
}

@functions
{
[Parameter] RenderFragment ChildContent { get; set; }
[Parameter] bool IsLoading { get; set; }
}
